.App {
  background-image:
  linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url("./beer.jpg");
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.Welcome {
  font-size: 250%;
  font-weight: bold;
  color: white;
}

.beerForm {
  font-size: 120%;
  font-weight: bold;
  color: black;
}

.beersList {
  font-size: 500%;
  font-weight: bold;
  color: black;
  background: transparent;
}

.beerShow {
  font-size: 180%;
  font-weight: bold;
  color: black;
}

.login {
  font-size: 180%;
  font-weight: bold;
  color: black;
}

.userShow {
  font-size: 220%;
  font-weight: bold;
  color: white;
}

.footer {
  font-size: 100%;
  font-weight: bold;
  color: black;
}
